# Stateful things / lock files
kitty/kitty.conf.bak
qutebrowser/autoconfig.yml
qutebrowser/bookmarks
qutebrowser/qsettings
qutebrowser/quickmarks
mpd/database
mpd/sticker.sql
ncmpcpp/error.log
nvim/lazy-lock.*

# Theme stuff
theme/**/wallpapers/
theme/current-theme
hypr/hyprpaper.conf
hypr/theme/
kitty/theme/
rofi/theme/
wofi/theme/
waybar/theme/
dunst/dunstrc

# Files marked licensed
**/*.licensed.jpg
**/*.licensed.jpeg
**/*.licensed.svg
**/*.licensed.png

# Application Specific
BraveSoftware/
FreeCAD/
QtProject.conf
Thunar/
htop/
inkscape/
kritarc/
kritadisplayrc/
libreoffice/
xfce4/ 

# AI Assistances
CLAUDE.md

# Things not yet ready for check-in / don't belong in this repo
btop/
cpplint/

