kitty/kitty.conf.bak
qutebrowser/autoconfig.yml
qutebrowser/bookmarks
qutebrowser/qsettings
qutebrowser/quickmarks

# Theme stuff
theme/**/wallpapers/
theme/current-theme
hypr/hyprpaper.conf
hypr/theme/
kitty/theme/
rofi/theme/
waybar/theme/
dunst/dunstrc
