/*
 * Default theme wofi config file
 *
 * wofi is alot like rofi in its config, though it uses CSS instead of rasi.
 * This file is imported at the bottom of default wofi styles.
 * Specificity applies. Useful list of selectors at this URL:
 * https://cloudninja.pw/docs/wofi.html
 *
 * Note that any imports in here must be absolute paths due to how GTK looks
 * for files. Recommendation is to use a single file rather than importing
 * files manually.
 *
 * CSS colors will be prepended to this file at the marker below.
 */

{COLORS_CSS}

* {
    font-family: monospace;
}

window {
    color: @colorfg;
    background-color: @colorbg;
    border: 3px solid @color13;
    border-radius: 5px;
}

#entry {
}

#entry:selected {
    background-color: @colorsbg;
}

#text:selected {
    color: @colorsfg;
}

#text {
    padding: 0px 20px;
}

#input {
    background-color: rgba(0,0,0,0);
    margin: 20px;
    color: @colorfg;
    border-radius: 0;
}

#inner-box {
    border-top: 1px solid @colorfg;
}

