@import 'theme/colors.css';

* {
    font-family: Jetbrains Mono Nerd Font;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

window#waybar {
	background-color: @color-background;
    color: @color-foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    border: none;
}

button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0px 5px;
    background-color: transparent;
    color: @color-foreground;
    border-radius: 0px;
}

#workspaces button:hover {
    background-image: linear-gradient(@color15, @color7);
    color: @color0;
}

#workspaces button.focused {
    background-color: @color5;
}

#workspaces button.active {
	font-weight: bold;
	color: @color-background;
	background-color: @color-foreground;
}

#workspaces button.urgent {
    background-color: @color1;
}



#mode {
    background-color: #64727D;
}

#clock,
#battery,
#disk,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,
#power-profiles-daemon,
#custom-mpd,
#custom-ollama {
    font-weight: bold;
    padding: 0 10px;
    color: @color-foreground;
    background-color: @color-background;
}

/* A little extra padding for these, due to glyph weirdness */
#battery:not(.charging),
#backlight,
#clock {
  padding-right: 15px;
}

/* Submap */
#submap {
    padding: 0px 10px;
    color: @color0;
    background-image: linear-gradient(@color15, @color7);
    font-weight: bold;
}

/* Specific padding rules for odd glyph renderings */
#temperature,
#memory,
#cpu {
   padding: 0 12px 0 10px; 
}

#idle_inhibitor {
    padding: 0px 16px 0px 9px;
}
#idle_inhibitor.activated {
    background-color: @color7;
    color: @color8;
}

#window,
#workspaces {
    margin: 0;
    padding: 0;
	color: @color-foreground;
    font-weight: bold;
}

#window {
    color: @color-foreground;
    padding: 0 10px;
}

/* Custom Taskbar */
#custom-taskbar {
    padding: 0 10px;
    color: @color-foreground;
}

#custom-taskbar.has-windows {
    padding: 0 10px;
}

.modules-left > widget {
    background-color: @color-background;
}

.modules-center {
    /* background-color: @color-background; */
	background-color: transparent;
}

.modules-right {
    background-color: @color-background;
}

.module {
	padding: 2px;
}

#battery.charging, #battery.plugged {
    color: @color0;
    background-color: @color2;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @color1;
    color: @color7;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
    color: @color8;
}

#power-profiles-daemon.performance {
    background-color: @color1;
}

#power-profiles-daemon.balanced {
    background-color: @color2;
}

#power-profiles-daemon.power-saver {
    background-color: @color6;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    color: @color8;
}

#temperature.warning {
    color: @color-warning;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#temperature.critical {
    background-color: @color1;
    color: @color7;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#keyboard-state {
    background: @color7;
    color: @color0;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: @color9;
}

#privacy-item.audio-in {
    background-color: @color10;
}

#privacy-item.audio-out {
    background-color: @color12;
}

@import 'theme/style.css';
